@font-face {
  font-family: SegoeUI-SemiBold;
  src: url(fonts/SegoeUI-SemiBold.woff);
}

@font-face {
  font-family: SegoeUI-regular;
  src: url(fonts/SegoeUI.woff);
}

@font-face {
  font-family: SegoeUI-Bold;
  src: url(fonts/SegoeUI-Bold.woff);
}

@font-face {
  font-family: SegoeUI-Light;
  src: url(fonts/SegoeUI-Light.woff);
}

.lesson-header,
.theory_page p,
.green-row {
  font-family: SegoeUI-SemiBold;
}

.theory_page p strong,
.theory_page p b {
  font-family: SegoeUI-Bold;
}

.green-row,
.theory_page h2,
.theory_page h3 {
  text-align: center;
}

.theory_page p {
  line-height: 2.25;
}

.lesson-header {
  font-size: 38px;
}

.green-row {
  color: white;
}

.lesson-header .number-header {
  color: #00b29c;
  font-size: 150px;
  line-height: 1;
}

.green-row {
  background: #00b29c;
  padding: 10px 15px;
  display: table;
  margin: 0 auto;
}

.imp-note {
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px 15px 15px 15%;
  margin-top: 15px;
  margin-bottom: 25px;
  background: url(img/imp_note_icon.png) 15px 15px no-repeat;
  background-size: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 135px;
}

.imp-note > p:last-of-type {
  margin: 0;
}

.theory_page p.mark-endings i,
.light-green-text {
  color: #00b29c;
}

.green-table {
  background: #e8fafe;
  font: 24px SegoeUI-Regular;
}

.green-table td {
  width: 33.333333%;
  padding: 45px 0;
}

.orange-line-divider {
  width: 15%;
  border-color: #ff6d3a;
  border-width: 5px;
  margin: 0 auto;
}

.paragraph-margin {
  margin: 30px 0;
}

.paragraph-margin_plus {
  margin: 30px 35px;
}

/* Words table */

.words_table i {
  cursor: pointer;
  font-size: 16px;
  padding: 7px 6px;
  text-align: center;
  width: 32px;
  border-radius: 90px;
  color: lightgray;
  border: 1px solid lightgray;
  opacity: 0;
  transition: opacity cubic-bezier(0, 0, .39, .99) 0.4s, color cubic-bezier(0, 0, .39, .99) 0.2s, border cubic-bezier(0, 0, .39, .99) 0.2s;
}

.words_table .alt_trans,
.m-c-trans .modal-header .alt_trans {
  cursor: pointer;
  font-family: SegoeUI-Regular;
  font-size: 12px;
  color: darkgray;
  border-bottom: 1px dashed darkgray;
  opacity: 0;
  transition: opacity cubic-bezier(0, 0, .39, .99) 0.4s;
  padding: 2px 2px 0px 2px;
  border-radius: 4px;
}

.words_table .alt_trans:hover,
.m-c-trans .modal-header .alt_trans:hover,
.m-c-trans .w-transcr:hover {
  background: rgba(211, 211, 211, 0.5);
  color: darkslategray;
}

.words_table tr.permahover i,
.words_table tr.permahover .phrases_control_row,
.words_table tr.permahover .alt_trans,
.m-c-trans .modal-header .alt_trans {
  opacity: 1;
}

.words_table tr.permahover .txt_cart_lang .phr_hidden_control_row {
  height: 65px;
  opacity: 1;
}

.words_table i:hover {
  color: darkgray;
  border-color: darkgray;
}

.txt_cart_lang {
  padding: 0px !important;
  font-size: 24px;
  margin-bottom: 0;
  font-family: SegoeUI-Regular;
}

.phr_lang {
  font-size: 24px;
  display: flex;
  font-family: SegoeUI-Regular;
  margin-top: 34px;
}

.phr_lang_rows {
  flex-direction: column;
  align-items: center;
}

.phr_lang.phr_no_alt {
  margin-top: 10px;
}

.phr_lang .col-sm-6,
.phr_lang .col-sm-4,
.phr_lang .col-sm-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  flex-direction: column;
}

.gray-left-line {
  border-left: 3px solid #d1d1d1;
  padding: 0 35px;
}

@media (min-width: 992px) {
  .theory_page {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .lesson-header .number-header {
    font-size: 100px;
  }

  .lesson-header {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .text-center-m {
    text-align: center !important;
  }

  .lesson-header .number-header {
    font-size: 13vw;
  }

  .lesson-header {
    font-size: 4.45vw;
  }

  .paragraph-margin,
  .paragraph-margin_plus {
    margin: 15px 0;
  }

  .gray-left-line {
    border: 0;
    padding: 0;
  }

  .theory_page p {
    line-height: 1.5;
  }

  .green-row {
    font-size: 5vw;
  }

  .theory_page .w-m-100 {
    width: 100% !important;
  }

  img.w-50:not(.w-m-100) {
    margin: 0 25vw;
  }

  .green-table td {
    padding: 25px 0;
    font-size: 5vw;
  }
}
